{{ define "main" }}
<main id="now-page">
    <h1>Hey, I'm Hemath <span class="wave">👋</span></h1>
    <h2>What am I doing <a target="_blank" href="https://nownownow.com/about">now</a>?</h2>
    Last updated - <time datetime="{{.Date}}">{{ .Date.Format "Mon Jan 2, 2006" }}</time>

    <p>
        <ol>
            <li>Engineering web apps in Comcast.</li>
            <li>Doing Masters in AI at IIT</li>
            <li>Reading "<a href="https://en.wikipedia.org/wiki/The_Design_of_Everyday_Things">The design of everyday things</a>" by Don Norman.</li>
            <li>Learning to cook <a target="_blank" href="https://www.gimmesomeoven.com/authentic-gazpacho-recipe">Gazpacho</a>.</li>
            <li>Promoting <a href="/blog/why-i-prefer-rss-over-email-subscriptions">RSS over email</a> subscriptions, <a href="/blog/why-i-prefer-email-conversation-over-chat-messages">Emails over chat</a> messages.</li>
        </ol>
    </p>
</main>
{{ end }}