{{ define "main" }}
<main id="now-page">
    <h1>Hey, I'm Hemath <span class="wave">👋</span></h1>
    <h2>What am I doing <a target="_blank" href="https://nownownow.com/about">now</a>?</h2>

    <p>
        <ol>
            <li>Learning mathematics related for Data Science followed by ML and eventually LLMs.</li>
            <li>Engineering web apps in Comcast.</li>
            <li>Partially spending some time building <a target="_blank" href="https://nostr.com/">Nostr</a> based <a target="_blank" href="https://github.com/djhemath/snap-nostr">applications.</a></li>
            <li>Reading "<a href="https://en.wikipedia.org/wiki/The_Design_of_Everyday_Things">The design of everyday things</a>" by Don Norman.</li>
            <li>Learning to cook <a target="_blank" href="https://www.gimmesomeoven.com/authentic-gazpacho-recipe/">Gazpacho</a>.</li>
            <li>Planning to promote RSS over email subscriptions, Emails over chat messages.</li>
        </ol>
    </p>
</main>
{{ end }}