.title-description {
    a {
        color: map-get($color-palette, black);
        text-decoration: none;
        transition: color 0.2s, transform 0.2s;
        display: flex;
        gap: 8px;
        align-items: center;

        &:hover {
            color: map-get($color-palette, primary);
            transform: scale(1.1) translateX(30px);

            svg {
                path {
                    fill: map-get($color-palette, primary) !important;
                }
            }
        }
    }

    .post-meta {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 8px;

        .post-categories {
            display: flex;
            gap: 6px;
            
            .post-category {
                background-color: #d9d9d9;
                padding: 4px 12px;
                border-radius: 50px;
                font-size: 12px;
            }
        }
    }

    .description {
        font-weight: 200;
        color: map-get(map-get($color-palette, grey), medium);
    }

    time {
        display: inline-block;
        font-size: 14px;
        color: map-get($color-palette, white);
        background-color: map-get($color-palette, primary);
        padding: 2px 5px;
        border-radius: 3px;
    }
}