.title-description {
    a {
        color: map-get($color-palette, black);
        text-decoration: none;
        transition: color 0.2s, transform 0.2s;
        display: flex;
        gap: 8px;
        align-items: center;

        &:hover {
            color: map-get($color-palette, primary);
            transform: scale(1.1) translateX(30px);

            svg {
                path {
                    fill: map-get($color-palette, primary) !important;
                }
            }
        }
    }

    .description {
        font-weight: 200;
        color: map-get(map-get($color-palette, grey), medium);
    }

    time {
        display: inline-block;
        font-size: 14px;
        color: map-get($color-palette, white);
        margin-top: 8px;
        background-color: map-get($color-palette, primary);
        padding: 2px 5px;
        border-radius: 3px;
    }
}