{{ define "main" }}
<main id="blog-single">
  <section>
    <p id="hemath-blog">Hemath's Blog ☘️</p>
    <h1 style="margin-top: 42px;">{{ .Title }}</h1>
    <time datetime="{{.Date}}">{{ .Date.Format "Mon Jan 2, 2006" }}</time>

    {{ if (isset .Params "hero_image") }}
      <img class="hero-image" src="{{ .Params.hero_image }}" alt="hero image" />
    {{ end }}

    {{ if ne .Params.table_of_contents false }}
      {{ .TableOfContents }}
    {{ end }}
  </section>
  <article>
    {{ .Content }}
  </article>

  <hr />

  <div class="blog-footer">
    <a href="https://brainmade.org" target="_blank"><img width="100" src="https://brainmade.org/black-logo.svg" /></a>
  </div>
</main>
{{ end }}