{{ define "main" }}
<main id="blog-single">
  <section>
    <p id="hemath-blog">Hemath's Blog ☘️</p>
    <h1 style="margin-top: 42px;">{{ .Title }}</h1>

    <div class="meta">
      <time datetime="{{.Date}}">{{ .Date.Format "Mon Jan 2, 2006" }}</time>
  
      <div class="post-categories">
        {{ if (isset .Params "categories") }}
          {{ range .Params.categories }}<span class="post-category">{{.}}</span>{{ end }}
        {{ end }}
      </div>
    </div>

    {{ if (isset .Params "hero_image") }}
      <figure>
        <img class="hero-image" src="{{ .Params.hero_image }}" alt="hero image" />
        {{ if (isset .Params "hero_image_caption") }}
          <figcaption>{{.Params.hero_image_caption | .RenderString}}</figcaption>
        {{ end }}
      </figure>
    {{ end }}

    {{ if ne .Params.table_of_contents false }}
      {{ .TableOfContents }}
    {{ end }}
  </section>
  <article>
    {{ .Content }}
  </article>

  <hr />

  <div class="blog-footer">
    <a href="https://brainmade.org" target="_blank"><img width="100" src="https://brainmade.org/black-logo.svg" /></a>
  </div>
</main>
{{ end }}