<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ or .Title .Site.Title }}{{ if ne .Kind "home" }} | {{ .CurrentSection.Title }}{{ end }}</title>
    {{ $style := resources.Get "scss/styles.scss" | toCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <meta name="author" content="Hemath" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="robots" content="index, follow" />

    {{ if eq .Kind "home" }}
    <!-- For home page -->
    <meta name="description" content="An unorthodox software engineer who lives to craft world class software applications and mentor students." />
    <meta name="keywords" content="Software Engineer, Software Engineer in Chennai, Best software engineer in chennai, React developer, JavaScript developer, TypeScript developer, NodeJS developer, Fullstack developer, Python developer" />

    <meta property="og:title" content="Hemath - Software Engineer" />
    <meta property="og:description" content="An unorthodox software engineer who lives to craft world class software applications and mentor students." />
    <meta property="og:url" content="https://hemath.dev"/ >
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/djhemath-site.firebasestorage.app/o/og.png?alt=media&token=ae3ea1f1-7f2b-45d7-9b33-41d40195254f" />
    <meta property="og:site_name" content="Hemath - Software engineer" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Hemath - software engineer" />
    <meta name="twitter:description" content="An unorthodox software engineer who lives to craft world class software applications and mentor students." />
    <meta name="twitter:image" content="https://firebasestorage.googleapis.com/v0/b/djhemath-site.firebasestorage.app/o/og.png?alt=media&token=ae3ea1f1-7f2b-45d7-9b33-41d40195254f" />
    <meta name="twitter:site" content="@djhemath" />
    <meta name="twitter:creator" content="@djhemath" />
    {{ end }}


    {{ if eq .Type "blog" }}
    <!-- For blog posts -->
    <meta name="description" content="{{ .Params.excerpt }}" />
    <meta name="keywords" content="{{ range .Keywords }}{{ . }},{{ end }}hemath" />

    <!-- Open Graph Meta Tags for social sharing -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Params.excerpt }}" />

    {{if (isset .Params "og_image")}}
    <meta property="og:image" content="{{ .Params.og_image | safeHTML }}" />
    {{else if (isset .Params "hero_image")}}
    <meta property="og:image" content="{{ .Params.hero_image | safeHTML }}" />
    {{end}}

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="article" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Params.excerpt }}" />
    {{if (isset .Params "og_image")}}
    <meta name="twitter:image" content="{{ .Params.og_image | safeHTML }}" />
    {{else if (isset .Params "hero_image")}}
    <meta name="twitter:image" content="{{ .Params.hero_image | safeHTML }}" />
    {{end}}
    <meta name="twitter:site" content="@djhemath" />
    <meta name="twitter:creator" content="@djhemath" />
    {{ end }}
        

  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}

    {{ partial "scripts/google-analytics.html" }}
  </body>
</html>