{{ define "main" }}
  <main id="home" aria-role="main">
    <h1>Hey, I'm Hemath <span class="wave">👋</span></h1>

    <p id="about">I'm a <span class="highlight blue">software engineer</span>, space enthusiast and an occasional <span class="highlight pink">designer</span>. I love to craft software products that improves people lives. I occasionally <span class="highlight green">teach</span> people some software concepts and guide whenever required.</p>
    <p id="email">You can write me to <a href="mailto:hem@hemath.dev"><span>hem@hemath.dev</span></a></p>

    {{ partial "social-links.html" . }}

    <!-- {{ partial "section-with-title.html" (dict "ctx" . "title" "Work" "children" "work.html") }} -->
      {{ partial "section-with-title.html" (dict "ctx" . "title" "Talks" "children" "talks.html") }}

    {{ partial "section-with-title.html" (dict "ctx" . "title" "Toys" "children" "tech.html") }}

    {{ partial "section-with-title.html" (dict "ctx" . "title" "Projects" "children" "projects.html") }}

    {{ partial "section-with-title.html" (dict "ctx" . "title" "Blog" "children" "blog.html" "url" "/blog") }}
  </main>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Hemath",
      "jobTitle": "Software Engineer",
      "url": "https://hemath.dev",
      "sameAs": [
        "https://github.com/djhemath",
        "https://linkedin.com/in/djhemath",
        "https://x.com/djhemath"
      ]
    }
    </script>
{{ end }}