#blog-single {
    max-width: 600px;
    margin: auto;

    #hemath-blog {
        font-size: 24px !important;
    }
    
    .hero-image {
        width: 100%;
        margin: 24px 0;
        border-radius: 4px;
        border: 1px solid #dcdcdc;
    }

    article {
        * {
            word-break: break-word;
        }

        img {
            width: 100%;
            border-radius: 4px;
            margin: 48px 0;
        }

        p, ul, ol, li {
            font-weight: 200 !important;
            letter-spacing: 0.02rem;
            line-height: 32px;
            font-size: 18px;
        }

        pre {
            padding: 12px;
            overflow: auto;
            border-radius: 4px;
        }
    }
}

@media only screen and (max-width: 450px) {
    p, ul, ol, li {
        font-size: 16px !important;
    }
}