<div class="talks">
    <div class="talk">
        <div class="left">
            <span class="topic">Accessibility 101</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">Comcast</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">Coming soon</span>
        </div>
    </div>

    <div class="talk">
        <div class="left">
            <span class="topic">A practical intro to WebAssembly</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">JS Lovers</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">Feb, 2025</span>
        </div>
    </div>

    <div class="talk">
        <div class="left">
            <span class="topic">React for beginners</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">Sysvine</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">Jun, 2023</span>
        </div>
    </div>

    <div class="talk">
        <div class="left">
            <span class="topic">Nostr - decentralized social media</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">NIT</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">Mar, 2023</span>
        </div>
    </div>

    <div class="talk">
        <div class="left">
            <span class="topic">GraphQL - deep dive</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">ESEC</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">Jan, 2022</span>
        </div>
    </div>
</div>