<div class="work-experiences">
    <div class="experience">
        <div class="left">
            <span class="organization">Comcast</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">Software Engineer II</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">2024 - Present</span>
        </div>
    </div>

    <div class="experience">
        <div class="left">
            <span class="organization">Sysvine Technologies</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">Software Engineer II</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">2022 - 2024</span>
        </div>
    </div>

    <div class="experience">
        <div class="left">
            <span class="organization">Double Star Solutions</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">Software Engineer I</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">2021 - 2022</span>
        </div>
    </div>

    <div class="experience">
        <div class="left">
            <span class="organization">Gethu Games</span>
        </div>

        <div class="divider-rule desktop"></div>

        <div class="right">
            <span class="role">Software Engineering Intern</span>
            <div class="divider-rule mobile"></div>
            <span class="duration">2019 - 2021</span>
        </div>
    </div>
</div>