<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-analytics.js";

    const firebaseConfig = {
      apiKey: "AIzaSyCg_ITJGJDXLlS2rIdeOq1g-Zptd2nKIwI",
      authDomain: "djhemath-site.firebaseapp.com",
      projectId: "djhemath-site",
      storageBucket: "djhemath-site.firebasestorage.app",
      messagingSenderId: "167148679184",
      appId: "1:167148679184:web:3c774b706abd2a069b9a95",
      measurementId: "G-4FXNDZF568"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>