<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Hemath",
      "alternateName": "djhemath",
      "url": "https://hemath.dev",
      "image": "https://hemath.dev/profile-picture.jpg",
      "jobTitle": "Software Engineer",
      "worksFor": {
        "@type": "Organization",
        "name": "Comcast"
      },
      "knowsAbout": [
        "JavaScript",
        "React",
        "Node.js",
        "TypeScript",
        "Flutter",
        "UI/UX Design",
        "Web Performance",
        "WebAssembly",
        "Open Source Development",
        "Software engineering",
        "Nostr"
      ],
      "sameAs": [
        "https://github.com/djhemath",
        "https://linkedin.com/in/djhemath",
        "https://twitter.com/djhemath"
      ],
      "alumniOf": {
        "@type": "EducationalOrganization",
        "name": "Erode Sengunthar Engineering College"
      },
      "description": "Software Engineer passionate about building high-quality applications, open-source contributor, and tech community volunteer.",
      "hasOccupation": {
        "@type": "Occupation",
        "name": "Software Engineer",
        "description": "Developing high-performance applications with expertise in full-stack development and reusable UI components."
      },
      "memberOf": [
        {
          "@type": "Organization",
          "name": "JS Lovers",
          "url": "https://jslovers.com"
        }
      ],
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://hemath.dev"
      },
      "worksOn": [
        {
          "@type": "CreativeWork",
          "name": "SnapNostr",
          "url": "https://github.com/djhemath/snap-nostr",
          "description": "An open-source app for creating clean, customizable screenshots of posts on the Nostr platform."
        }
      ]
    }
</script>